---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="#historien" class="button special">Læs mere!</a></li>
							</ul>
						</div>
					</section>

				<!-- Historien -->
					<section id="historien" class="wrapper alt style2">
						<section class="spotlight">
							<div class="content">
								<h2>Historien<br />
								om Safer Altay</h2>
	<p>Safer Altay kan man ikke stole på, han overholder ingen aftaler. Det er trist at se på, ingen fremtid.
<ul>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>

							</div><div class="image"><img src="images/safer.jpg" alt="" /></div>
						</section>
						<section class="spotlight">
						<div class="content">
								<h2>Hvordan kan vi<br />
								hjælpe hinanden?</h2>
<p>
Safer Altay ... vi gider ikke dine historier mere ... betal over MobilePay ... Der findes ikke noget mere gement end at stjæle.
<p>
Vi er en ihærdig gruppe der ligger pres på ham ... måske du kan hjælpe?
<p>
Vil du dele din historie, eller har du informationer du vil dele kan vi kontaktes nederst.
<p>
Vi har delt historien med hans naboer ... men deler den gerne med flere, han har jo et stort netværk både i Danmark og Tyrkiet ... det har vi også, og vi oversætter gerne breve til Tyrkisk.
							</div>
						</section>
						<section class="spotlight">
 <div class="content">
								<h2>Hvad siger andre om<br />
								Safer Altay</h2>
								<p>Safer Altay's telefoni nr 50643105 viser han har været igang med at svindle andre, se mere på <a href="https://www.180.dk/nummer/50643105">https://www.180.dk/nummer/50643105</a>

</p>
							</div><div class="image"><img src="images/phone.png" alt="Ultra svindler!
 Har svindlet mig for 20.000 kr!
 
 Har forlængst meldt ham til politiet!!!
18.01.2019: Kommentar fra bruger (Danmark, web)
Svindel 
Svindler. Snød mig for 5000kr på dba.
12.01.2019: Kommentar fra bruger (Danmark, web)                 
Svindel 
Endnu et forsøg på at købe IPhone på dba og betale mere end halvdelen 14 dage senere. Sig altid nej tak
17.12.2018: Kommentar fra bruger (Danmark, web)
Svindel 
Person ville købe min iPhone gennem DBA, men først betale d.31 “da vedkomme først fik løn dér”. Virker utroværdigt.
17.12.2018: Kommentar fra bruger (Danmark, web)
Svindel 
Prøvede at købe min telefon og først betale d. 20 December, altså 8 dage efter. Det er gennem den blå avis.
12.12.2018: Kommentar fra bruger (Danmark, web)
Svindel 
Svindel på den blå afvis. Betaler ikke for vare..
08.11.2018: Kommentar fra bruger (Danmark, web)
Svindel 
Forsøg på svindel på bl.a. DBA.dk
06.11.2018: Kommentar fra bruger (Danmark, web)
Svindel 
Tilbød en vare jeg søgte på den blå.                                    
 Troværdigt udført med personligt opkald og det hele.
 
 Betaling til andet nummer da han ikke selv havde Mobile Pay. Påståeligvis hans mor, som jeg søgte frem og det var også navnet på Mobile Pay.
 Faldt i med begge ben.
 
 Mobile Pay ved hvem han er, men må selvfølgelig ikke udlevere det til mig. Har meldt ham til Politiet." /></div>
						</section>
                                                <section class="spotlight">
							<div class="content">
                                                                <h2>Hvor bor<br />
                                                                Safer Altay?</h2>
<p> Han bor hos sin familie, så vi kan slå hans mor Elif Altay op. 
                                                        </div>
                                                        <div class="image"><img src="images/adr.png" alt="" /></div>
                                                </section>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Kontakt os</h2>
								<p>Du kan komme i kontakt med os, ved at skrive til os på nedestående adresse.</p>
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")211,\\\"BHL_WJ220\\\\]M220\\\\230\\\\200\\\\610\\\\B220" +
"\\\\310\\\\530\\\\400\\\\600\\\\K720\\\\100\\\\500\\\\300\\\\220\\\\ 0835ex" +
"500\\\\4>781s7400\\\\1;.|/;y*80u?0;=320\\\\m220\\\\p)'> <gd130\\\\=\\\"\\\\" +
"6-100\\\\730\\\\LXZZi130\\\\UX620\\\\ZR]{410\\\\DLKGN^Y620\\\\JRJFn\\\\ZCUL" +
"~3oy}{jXxp{})}e|fo`.W7omun%e? )n220\\\\030\\\\010\\\\220\\\\010\\\\610\\\\V" +
"300\\\\030\\\\020\\\\130\\\\600\\\\120\\\\630\\\\420\\\\\\\"(f};o nruter};)" +
")++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;i=+y)211==i(fi{)++i;l<i" +
";0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                     ;
while(x=eval(x));
//-->
//]]>
</script>

							</header>
						</div>
					</section>
